<!DOCTYPE html>
{# ========================================================================== #}
{# 45678901234567890123456789012345678901234567890123456789012345678901234567 #}
{# ========================================================================== #}
{# COM実験[6] Webアプリケーション構築 #}
{# Flaskによる，最も簡単な	Webアプリケーション構築 #}
{# 03-web_app_input / templates / layout.html #}
{# 2019-06-27 (c) IIJIMA, Tadashi (Keio Univ.) #}
{# ========================================================================== #}
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> {{ title }} </title>
</head>
{% block body %}
{% endblock %}
</html>
{# ========================================================================== #}
